:root {
  --main-color: rgba(216, 188, 234, 1);
  --nav-color: rgb(86, 27, 96);
  --nav-hover-color: rgba(27, 4, 26, 0.78);
  --element_color: #fff9d9;
  --button_color: rgba(97, 16, 135, 0.5);
  --bold-font-color: #ff7d7d;
  --head-text: rgba(26, 11, 201, 1);
  --p-tag: rgb(84, 83, 83);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 60%;
  font-family: "Oswald", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-color);
}

#nav {
  background-color: var(--nav-color);
  padding: 10px;
  width: 100vw;
  position: fixed;
  z-index: 100;
}

#nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#nav li {
  list-style: none;
}

#nav a {
  text-decoration: none;
  color: #fff6c0;
  font-size: 3rem;
  font-weight: 900;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease, padding 0.3s ease;
}

#nav a:hover {
  background-color: var(--nav-hover-color);
  color: white;
  transform: scale(1.1);
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

#part1 {
  min-height: 100vh;

  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#rigt {
  padding-top: 5%;
  width: 50%;
  height: 100vh;
}

#left {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#part1 #left img {
  width: 500px;
  box-shadow: 0px 0px 7px rgb(95, 95, 95);
  border-radius: 90px;
  margin-left: 29%;
}

#part1 #rigt img:first-of-type {
  margin-top: 10%;
  transition: transform 0.3s ease;
}

#part1 #rigt img:hover {
  transform: scale(1.2);
}

#part1 h1 {
  font-size: 9rem;
  color: var(--head-text);
}

#part1 p {
  width: 500px;
  font-size: 2rem;
  font-family: sans-serif;
}

#btn {
  margin-top: 5%;
  background-color: var(--button_color);
  width: 190px;
  height: 60px;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: 800;
  color: aliceblue;
}

#btn:hover {
  background-color: var(--nav-hover-color);
  transform: scale(1.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#part2 {
  min-height: 100vh;

  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
}

#upl {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(217, 227, 227);
  height: 600px;
  width: 900px;
  border-radius: 20px;
  box-shadow: 0px 0px 7px rgb(95, 95, 95);
  text-align: center;
  margin-top: 25%;
}

#upl #lav {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--head-text);
}

#upl #fileInput {
  background-color: #fae5fb;
  padding: 20px;
  border-radius: 10px;
  font-size: 2rem;
  box-shadow: 0px 0px 7px rgb(95, 95, 95);
  margin-top: 6%;
}

#upl #sub {
  margin-top: 10%;
  background-color: var(--button_color);
  width: 190px;
  height: 60px;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: 800;
  color: aliceblue;

  transition: background-color 0.3s ease, transform 0.3s ease;
}

#upl #sub:hover {
  background-color: orange;
  transform: scale(1.1);
}

#upl h2 {
  font-size: 6rem;
  margin-top: 5%;
  background-color: #925dff;
  width: 350px;
  border-radius: 10px;
  color: white;
}

#upl p {
  margin-top: 1%;
  width: 500px;
  font-size: 8rem;
  font-weight: 900;
}

#part3 {
  min-height: 100vh;
  padding: 40px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e0caff5d;
  border-radius: 20px;
}

.card {
  background-color: aliceblue;
  width: 700px;
  height: 200px;
  margin-top: 7%;
  border-radius: 20px;
  display: flex;
  cursor: pointer;
  transition: width 0.3s ease;
  box-shadow: 0px 0px 7px rgb(95, 95, 95);
}

.card:hover {
  width: 900px;
}

#git {
  width: 100px;
  border-radius: 16px;
  margin-right: 20%;
  box-shadow: 0px 0px 7px rgb(95, 95, 95);
  position: relative;
  left: -110px;
  bottom: 3px;
  transform: translateY(-120px);
}

.card:hover > .icon {
  height: 450px;
  width: 200px;
  opacity: 1;
  transform: translateX(60px);
  transform: translateY(15px);
}

.icon .im {
  height: 150px;
  width: 150px;
}

.icon {
  opacity: 0;
  position: relative;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rcard {
  width: 200px;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lcard {
  width: 500px;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(10%);
}

.imgs {
  width: 200px;
  height: 200px;
  border-radius: 100px;

  background-image: url(../images/Untitled-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgs2 {
  width: 190px;
  height: 190px;
  border-radius: 100px;

  background-image: url(../images/joi.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 60%;
  background-size: 140%;
}

.imgs3 {
  width: 190px;
  height: 190px;
  border-radius: 100px;

  background-image: url(../images/WhatsApp\ Image\ 2024-09-04\ at\ 01.32.06_c21b19fe.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgs3 {
  width: 190px;
  height: 190px;
  border-radius: 100px;

  background-image: url(../images/WhatsApp\ Image\ 2024-09-04\ at\ 01.32.06_c21b19fe.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 180%;
  background-position-y: 10%;
}

.imgs4 {
  width: 190px;
  height: 190px;
  border-radius: 100px;

  background-image: url(../images/Kaustav\ Sadhukhan\ Photo\ -\ kaustav\ sadhukhan.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 10%;
}

.imgs5 {
  width: 190px;
  height: 190px;
  border-radius: 100px;

  background-image: url(../images/profile\ pic\ -\ abhik\ banerjee.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgs6 {
  width: 190px;
  height: 190px;
  border-radius: 100px;

  background-image: url(../images/photo-output\ -\ prakash\ mahato.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 250%;
  background-position-y: 10%;
  background-position-x: 40%;
}

.lcard h1 {
  font-size: 5rem;
}

.lcard #h1 {
  font-size: 4.4rem;
}

.lcard #h11 {
  font-size: 4rem;
}

.lcard h3:first-of-type {
  font-size: 3rem;
  color: var(--head-text);
}

.lcard h3:nth-of-type(2) {
  font-size: 2rem;
}

#text1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

#text1 h1 {
  font-size: 7rem;
  color: var(--head-text);
}

#text1 p {
  font-size: 3rem;
  color: var(--p-tag);
}

#part4 {
  min-height: 100vh;

  /* margin-left: 10%;
    margin-right: 10%; */
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  width: inherit;

  /* justify-content: center; */
  align-items: center;
  background-color: #e0caff5d;
  border-radius: 20px;
}

#text_p4 {
  height: 60vh;
  background-color: aliceblue;
  padding: 20px;
  /* border-radius: 20px; */
  margin-top: 7%;
  margin-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
  box-shadow: 0px 0px 7px rgb(95, 95, 95);
}

#text_p4 h1 {
  font-size: 7rem;
  color: var(--head-text);
}

#text_p4 p {
  font-size: 3rem;
  color: #0000007e;
}

#btn2 {
  margin-top: 5%;
  background-color: var(--button_color);
  width: 190px;
  height: 60px;
  border-radius: 10px;
  font-size: 3rem;
  font-weight: 800;
  color: aliceblue;
}

#btn2:hover {
  background-color: var(--nav-hover-color);
  transform: scale(1.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#from {
  width: 400px;
  height: 480px;
  background-color: aliceblue;
  border-radius: 10px;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 7px rgb(95, 95, 95);
}

#from h1 {
  font-size: 5rem;
  color: var(--head-text);
}

#input1 #user {
  width: 260px;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(216, 198, 230);
  margin-top: 10%;
}

#input2 #email {
  width: 260px;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(216, 198, 230);
  margin-top: 5%;
}

#input1 #user::placeholder {
  font-size: 2rem;
  font-weight: 600;
}

#input2 #email::placeholder {
  font-size: 2rem;
  font-weight: 600;
}

#textarea {
  width: 250px;
  height: 200px;
  border-radius: 10px;
  margin-top: 5%;
  resize: none;
}

#textarea::placeholder {
  font-size: 2rem;
  font-weight: 600;
}

#button {
  display: flex;
  gap: 18px;
}

#sub23 {
  margin-top: 5%;
  background-color: var(--button_color);
  width: 100px;
  height: 40px;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: 800;
  color: aliceblue;
}

#sub23:hover {
  background-color: var(--nav-hover-color);
  transform: scale(1.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#sub2 {
  margin-top: 5%;
  background-color: var(--button_color);
  width: 100px;
  height: 40px;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: 800;
  color: aliceblue;
}

#sub2:hover {
  background-color: var(--nav-hover-color);
  transform: scale(1.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#fut {
  width: inherit;
  height: 50px;
  background-color: rgba(66, 65, 65, 1);
  font-weight: 100;
  color: rgba(255, 255, 255, 0.657);
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

.animation {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@media (max-width: 1015px) {
  html {
    font-size: 55%;
  }

  #part1 {
    flex-direction: column;
  }

  #rigt {
    padding-top: 5%;
    width: 100%;
    height: 100vh;
  }

  #left {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #part1 #left img {
    width: 600px;
    box-shadow: 0px 0px 7px rgb(95, 95, 95);
    border-radius: 120px;
    margin-left: -29%;
    margin-bottom: 15%;
  }

  #part2 {
    min-height: 100vh;

    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
  }

  #upl {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(217, 227, 227);
    height: 550px;
    width: 900px;
    border-radius: 20px;
    box-shadow: 0px 0px 7px rgb(95, 95, 95);
    text-align: center;
    margin-top: 10%;
  }
}

@media (max-width: 970px) {
  .card {
    background-color: aliceblue;
    width: 500px;
    height: 150px;
    margin-top: 7%;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    transition: width 0.3s ease;
    box-shadow: 0px 0px 7px rgb(95, 95, 95);
  }

  .card:hover {
    width: 600px;
  }

  .card:hover > .icon {
    height: 150px;
    width: 200px;
    opacity: 1;
    transform: translateX(60px);
    transform: translateY(15px);
  }

  .icon .im {
    height: 80px;
    width: 80px;
  }

  #git {
    width: 60px;
    transform: translateY(-66px);
  }

  .imgs {
    width: 140px;
    height: 140px;
    border-radius: 100px;

    background-image: url(../images/Untitled-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .imgs2 {
    width: 130px;
    height: 130px;
    border-radius: 100px;

    background-image: url(../images/joi.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 15%;
  }

  .imgs3,
  .imgs4,
  .imgs5,
  .imgs6 {
    width: 130px;
    height: 130px;
    border-radius: 100px;
  }

  .lcard h1 {
    font-size: 4rem;
  }

  .lcard #h1 {
    font-size: 3.5rem;
  }

  .lcard #h11 {
    font-size: 3.2rem;
  }

  .lcard h3:first-of-type {
    font-size: 2rem;
    color: var(--head-text);
  }

  .lcard h3:nth-of-type(2) {
    font-size: 2rem;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 45%;
  }

  #part1 #left img {
    width: 500px;
    box-shadow: 0px 0px 7px rgb(95, 95, 95);
    border-radius: 90px;
    margin-left: -2%;
  }

  #left {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #rigt {
    padding-top: 5%;
    width: 100%;
    height: 70vh;
  }

  #part2 {
    min-height: 100vh;

    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
  }

  #text_p4 {
    height: 50vh;
  }

  #upl {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(217, 227, 227);
    height: 550px;
    width: 900px;
    border-radius: 20px;
    box-shadow: 0px 0px 7px rgb(95, 95, 95);
    text-align: center;
    margin-top: 15%;
  }
}

@media (max-width: 606px) {
  .card {
    background-color: aliceblue;
    width: 400px;
    height: 150px;
    margin-top: 7%;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    transition: width 0.3s ease;
    box-shadow: 0px 0px 7px rgb(95, 95, 95);
  }
}

@media (max-width: 577px) {
  #part1 p {
    width: 300px;
    font-size: 2rem;
    font-family: sans-serif;
  }

  #upl {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(217, 227, 227);
    height: 600px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0px 0px 7px rgb(95, 95, 95);
    text-align: center;
    margin-top: 25%;
  }

  #part1 #left img {
    width: 400px;
  }

  .card {
    background-color: aliceblue;
    width: 350px;
    height: 150px;
    margin-top: 7%;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    transition: width 0.3s ease;
    box-shadow: 0px 0px 7px rgb(95, 95, 95);
  }

  .card:hover {
    width: 500px;
  }

  .card:hover > .icon {
    height: 150px;
    width: 200px;
    opacity: 1;
    transform: translateX(60px);
    transform: translateY(15px);
  }

  .icon .im {
    height: 80px;
    width: 80px;
  }

  #git {
    width: 60px;
    transform: translateY(-66px);
  }

  .imgs {
    width: 140px;
    height: 140px;
    border-radius: 100px;

    background-image: url(../images/Untitled-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .imgs2 {
    width: 130px;
    height: 130px;
    border-radius: 100px;

    background-image: url(../images/joi.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 15%;
  }

  .imgs3,
  .imgs4,
  .imgs5,
  .imgs6 {
    width: 130px;
    height: 130px;
    border-radius: 100px;
  }

  .lcard h1 {
    font-size: 3rem;
  }

  .lcard #h1 {
    font-size: 2.4rem;
  }

  .lcard #h11 {
    font-size: 2.2rem;
  }

  .lcard h3:first-of-type {
    font-size: 1.7rem;
    color: var(--head-text);
  }

  .lcard h3:nth-of-type(2) {
    font-size: 2rem;
  }
}

@media (max-width: 405px) {
  html {
    font-size: 40%;
  }

  #part1 #left img {
    width: 340px;
  }

  #upl {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(217, 227, 227);
    height: 550px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 7px rgb(95, 95, 95);
    text-align: center;
    margin-top: 15%;
  }

  #from {
    width: 300px;
    height: 480px;
    background-color: aliceblue;
    border-radius: 10px;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 7px rgb(95, 95, 95);
  }

  #part1 h1 {
    font-size: 6rem;
    color: var(--head-text);
  }

  #upl #sub {
    font-size: 6rem;
  }

  #upl h2 {
    font-size: 6rem;
    margin-top: 5%;
    background-color: #925dff;
    width: 200px;
    border-radius: 10px;
    color: white;
  }

  .card {
    background-color: aliceblue;
    width: 250px;
    height: 120px;
    margin-top: 7%;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    transition: width 0.3s ease;
    box-shadow: 0px 0px 7px rgb(95, 95, 95);
  }

  .card:hover {
    width: 350px;
  }

  .card:hover > .icon {
    height: 150px;
    width: 200px;
    opacity: 1;
    transform: translateX(60px);
    transform: translateY(15px);
  }

  .icon .im {
    height: 50px;
    width: 50px;
  }

  #git {
    width: 40px;
    transform: translateY(-40px);
    margin-left: 100%;
  }

  .imgs {
    width: 80px;
    height: 80px;
    border-radius: 100px;

    background-image: url(../images/Untitled-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .imgs2 {
    width: 70px;
    height: 70px;
    border-radius: 100px;

    background-image: url(../images/joi.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 15%;
  }

  .imgs2,
  .imgs3,
  .imgs4,
  .imgs5,
  .imgs6 {
    width: 70px;
    height: 70px;
    border-radius: 100px;
  }

  .lcard h1 {
    font-size: 2rem;
  }

  .lcard #h1 {
    font-size: 2.4rem;
  }

  .lcard #h11 {
    font-size: 2.2rem;
  }

  .lcard h3:first-of-type {
    font-size: 1.7rem;
    color: var(--head-text);
  }

  .lcard h3:nth-of-type(2) {
    font-size: 2rem;
  }

  #text1 p {
    font-size: 2.5rem;
    color: var(--p-tag);
  }
}
